body,
html {

	padding: 0;
	margin: 0;
	overflow-x:hidden;
	
	
}
.smooth-scroll{
	scroll-behavior: smooth;
}
.section {
	padding: 80px 0;
}


header {
	background: url('../img/home-1.jpg');
	background-size: cover;
	background-position: center;

}



.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	
  }
nav a{
	color:#F3E2AA;
}
nav a:hover{
	color: #fff;
}
.link-color{
	color:#5a8679;
}
.white-color{
 color:#fff;
}
.green-color{
	color:#869791;
}
.toggler-icon{
	color: #fff;
	font-size: 30px;
}
.carouselTitle {
	display: flex;
	align-content: center;
	color: white;
	text-align: center;
	flex-direction: column;
	padding-top:  100px;


}

.FirstButton{
	margin-bottom: 100px ;
}

.services{
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	flex-wrap: wrap;

}


.contactForm{
	display: flex;
	flex-direction: row;
}
.FormPic{
	width: 23px;
	height: 26px;

}

.FormBckground{
	background-color: #32A773;
	width: 100%;
	color: #F3E2AA;
}
.servicesBckground{
	background-color: #F3E2AA;

}
.AboutBckground{
	background: url('../img/about-us-background.jpg');
	height: 50%;
	color: white;
	background-size: cover;
	background-position: center;
}
.footer{
	margin-top: 40px;
	margin-bottom: 40px;
}
* {
  box-sizing: border-box;
}

/*
*	Owl carousel
*/
.james-selceted{
	margin-left:  10px;
}
.mathilda-selected{
 margin-right:  10px;
}
.owl-carousel .owl-item img {
	width: auto;

}

.owl-theme .owl-controls .owl-dots {
	display: inline-block;
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 24px;
}

.owl-theme .owl-controls .owl-dots span {
	background: none repeat scroll 0 0 #869791;
	border-radius: 20px;
	display: flex;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
}
.text{
	padding-top: 50px;
}
#home {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

#home .owl-carousel .item {
	display: flex;
	align-items: center;
	justify-content: center;
}

#home .owl-carousel .item .text p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 50px;


}

#home .owl-carousel .item .text img {
	margin: 0 auto;
}

/*
*	About intro
*/

#about-intro {
	background-color: #222;
}
#about-intro .about-intro-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#about-intro .about-intro-content img {
	margin-bottom: 24px;
}

#about-intro .about-intro-content p {
	color: #fff;
	font-size: 18px;
	text-align: center;
}



@media screen and (max-width: 768px) {
	.toggle{
		display: block;
	
	}
	ul{
		width: 100%;
		display: none;
	}
	ul li {
		display: block;
		text-align: center;
	}
	.active{
		display:flex;
		flex-direction: column;
	}
	.logo{
		display: flex;
		position: relative;
	
	}
	.column{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
