body,
html {

	padding: 0;
	margin: 0;


}

section {
	padding: 80px 0;
}

.menu-1 {
	display: flex;
	text-transform: uppercase;
	justify-content: flex-end;
	top: 15px;
	position: relative;
}


ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu-1 li {
	display: inline-flex;
}

header {
	background: url('../img/home-1.jpg');
	background-size: cover;
	background-position: center;

}

.logo {
	background: url('../img/logo.png');
	position: absolute;
	max-height: 100%;
	min-height: 52px;
	max-width: 252px;
	background-repeat: no-repeat;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 15px;
}

header a {
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
}

/*#icon {

	font-size: 50px;
	color: white;
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	box-sizing: border-box;

}*/


.nav-link {
color: #32A773;

}
.nav-link:hover{
	color: white;
}
.link-color{
	color: #F3E2AA;
}
.link-color:hover{
color: white;	
}
.option5 {
	text-transform: none;
}

.symbol {
	color: white;
}

.menu-2 {
	top: -16px;
	padding: 0 auto ;
	text-transform: none;
}

.menu-2 ul {

	position: relative;
}
.menu-2 ul:hover{
	color: #32A773;
}

.menu-2 ul li:hover ul {
	display: flex;
	color:#32A773;
}

.menu-2 ul ul {
	position: absolute;
	display: none;
	top: 25px;



}

.menu-2 ul ul li {
	display: flex;

}

nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

}
.carouselTitle {
	display: flex;
	align-content: center;
	color: white;
	text-align: center;
	flex-direction: column;
	padding-top:  100px;


}

.services{
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	
}
.FormBckground{
	background-color:#32A773;
	width: 100%; 
}

.form-control {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}
.FormPic{
	width: 23px;
	height: 26px;

}
.servicesBckground{
	background-color: #F3E2AA;

}


/*
*	Owl carousel
*/
.james-selceted{
	margin-left:  10px;
}
.mathilda-selected{
 margin-right:  10px;
}
.owl-carousel .owl-item img {
	width: auto;
	
}

.owl-theme .owl-controls .owl-dots {
	display: inline-block;
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 24px;
}

.owl-theme .owl-controls .owl-dots span {
	background: none repeat scroll 0 0 #869791;
	border-radius: 20px;
	display: flex;
	height: 12px;
	margin: 5px 7px;
	opacity: 0.5;
	width: 12px;
}
.text{
	padding-top: 50px;
}
#home {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}

#home .owl-carousel .item {
	display: flex;
	align-items: center;
	justify-content: center;
}

#home .owl-carousel .item .text p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 50px;


}

#home .owl-carousel .item .text img {
	margin: 0 auto;
}

/*
*	About intro
*/

#about-intro {
	background-color: #222;
}
#about-intro .about-intro-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#about-intro .about-intro-content img {
	margin-bottom: 24px;
}

#about-intro .about-intro-content p {
	color: #fff;
	font-size: 18px;
	text-align: center;
}



@media (max-width: 1200px) {
	.menu-2 {
		right: -35px;
	}
}

@media (max-width: 1080px) {

	/*#icon{
		opacity: 1;
		display: flex;
		
		

	}*/
	.menu-1 ul li {
		display: flex;
	}

	.menu-2 {
		top: -160px;
		margin-right: -90px;

	}

	.menu-1 {
		top: 55px;
	}
}

@media (max-width: 471px) {

	/*#icon{
		position: absolute;
		display: flex;
		top:80px;
		right: 200px; 
	}*/
	.menu-1 ul li {
		display: flex;

	}

	.menu-1 {
		top: 120px;
	}
}